pii_extraction.json
{
  "name": "PII Extraction — Form Upload",
  "nodes": [
    {
      "parameters": {
        "modelSource": "inferenceProfile",
        "model": "global.anthropic.claude-sonnet-4-20250514-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        832,
        480
      ],
      "id": "a2c1973f-1d12-44da-a0bf-7fb35f8f562f",
      "name": "AWS Bedrock — SQL"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\n\nlet piiResults = [];\n\ntry {\n  const clean = raw.replace(/```json|```/g, '').trim();\n  piiResults = JSON.parse(clean);\n} catch {\n  const match = raw.match(/\\[[\\s\\S]*\\]/);\n  if (match) {\n    try { piiResults = JSON.parse(match[0]); } catch {}\n  }\n}\n\nif (!piiResults || piiResults.length === 0) {\n  return [{\n    json: {\n      error: 'No PII results found. Check the AI Agent output.',\n      raw: raw.slice(0, 300),\n    }\n  }];\n}\n\nreturn piiResults.map((item, index) => ({\n  json: {\n    id:               index + 1,\n    field_name:       item.field_name  || '',\n    value:            item.value       || '',\n    sensitivity:      item.sensitivity || '',\n    confidence:       item.confidence  ?? null,\n    location:         item.location    || '',\n    context:          item.context     || '',\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -80
      ],
      "id": "acaf936f-07d8-4108-8f35-0ac4e8469272",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "formTitle": "PII Document Extraction",
        "formDescription": "Upload a PDF, DOCX, JSON or CSV to extract all PII instances.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Document",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.docx,.doc,.json,.csv,.txt",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        496,
        304
      ],
      "id": "2f32b2c1-7e12-4e47-831f-65376ffd23f3",
      "name": "Form Trigger",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "modelSource": "inferenceProfile",
        "model": "global.anthropic.claude-sonnet-4-20250514-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        912,
        96
      ],
      "id": "ece9c029-a0df-459d-812d-512ccbe26b03",
      "name": "AWS Bedrock — SQL1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Role\nYou are an expert data privacy analyst specializing in PII (Personally Identifiable Information) detection and regulatory compliance.\n\n# Objective\nExtract only the information that could identify or re-identify a real person or a real named organization — and that therefore requires masking or censoring. This output will be consumed by a downstream masking flow. Only include what genuinely needs to be masked. Do not extract financial figures, technical infrastructure details, or generic descriptive data.\n\n# What to Extract\n\n## Personal identifiers — a real human being\nDirect identifiers (must always be masked):\n- Full names, initials combined with surname\n- Job title combined with company name when specific enough to identify a real individual\n- Email addresses, phone numbers, physical addresses\n- Government IDs: SSN, passport number, driver's license, tax ID, national ID\n- Financial account data tied to a person: credit card numbers, bank account numbers, IBAN\n- Health: patient IDs, medical record numbers, insurance IDs, diagnosis codes\n- Digital: end-user device IDs (mobile, laptop, tablet), static IP addresses assigned to a person, biometric identifiers\n\nIndirect / quasi-identifiers (mask when specific enough to identify someone):\n- Date of birth, exact age, gender, race/ethnicity, nationality\n- Dynamic IP addresses, cookie IDs, session tokens linked to a person\n- Partial values that could be cross-referenced\n\n## Company / entity identifiers — a real named organization\nExtract when a real named organization is directly identifiable:\n- Company or organization name\n- Account numbers tied to a named company in a system\n- Contract or agreement reference numbers tied to a named company\n\n# What NOT to Extract\n\nDo not extract any of the following — they do not identify a person or named organization:\n- Financial figures, revenue numbers, ARR, contract values, cost estimates\n- Server hostnames, infrastructure device IDs, environment names\n- Database instance names, table names, schema identifiers, system codes\n- Cloud infrastructure account IDs, AWS/GCP/Azure resource identifiers\n- Dates and timestamps not directly attached to a specific named person\n- Job titles mentioned generically without a named individual attached\n- Industry terms, product names, platform names, vendor names\n- Any value that describes a relationship, transaction, or technical resource rather than identifying a real person or organization\n\nIf you are unsure whether a value identifies a real person or organization, do not extract it.\n\n# Sensitivity Classification\n\nClassify every extracted item into one of three levels:\n\n- HIGH: Direct personal identifiers whose exposure causes immediate serious harm. Examples: SSN, passport, credit card, bank account, medical record, biometric data, full government, ID, full name, email address, phone number, physical address.\n- MEDIUM: Information that narrows identity or enables targeted contact but requires combination with other data. Examples: patient ID, employee ID, date of birth, company name + account number, partial name, job title + company.\n- LOW: Indirect quasi-identifiers that contribute to re-identification in combination. Examples: job title + company, partial name, username without account linkage, contract reference tied to a named company.\n\nWhen in doubt between two levels, assign the higher one.\n\n# Output Format\n\nReturn ONLY a valid JSON array. Do not include any explanation, commentary, or text outside the JSON. If no PII is found, return [].\n\nEach object in the array must have these fields:\n- field_name: the PII category, e.g. full_name, email, company_name, account_number, contract_reference\n- value: exact extracted value as it appears in the source\n- sensitivity: HIGH or MEDIUM or LOW\n- confidence: a float between 0.0 and 1.0\n- location: line number, JSON path, or position in source\n- context: 10 to 20 characters of surrounding text before and after the value\n\n# Edge Case Rules\n\n- Partial or redacted values: extract and flag, set confidence 0.7 or below\n- Ambiguous data: extract with the most likely field_name, note ambiguity via lower confidence\n- Placeholder or example data: set confidence 0.4 or below, still include in output\n- Repeated values: include each occurrence separately with its own location\n- Composite identifiers: if a combination of LOW fields creates a near-unique identity, extract each individually and add a companion object with field_name composite_identifier listing the fields involved\n- If your own confidence that a value identifies a real person or organization is below 0.5, do not include it in the output at all\n\n# Processing Instructions\n\n- Handle unstructured, semi-structured, and noisy text (OCR artifacts, typos, inconsistent formatting)\n- Do not infer or hallucinate values — only extract what is explicitly present in the input\n- Do not modify, normalize, or redact values in the output — preserve the original text exactly"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        912,
        -80
      ],
      "id": "788d2670-19ed-4092-904f-ab213b81c83f",
      "name": "AI Agent — PII Extraction1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\n\n// ─── SECTION 1: DOCUMENT METADATA ───────────────────────────────────────────\nfunction parseMetadata(text) {\n  const extract = (field) => {\n    const regex = new RegExp(`\\\\|\\\\s*${field}\\\\s*\\\\|\\\\s*([^|\\\\n]+?)\\\\s*\\\\|`, 'i');\n    const match = text.match(regex);\n    return match ? match[1].trim() : null;\n  };\n\n  const sourceRaw = extract('Source Type') || '';\n\n  return {\n    workflow_name:      extract('Workflow Name'),\n    document_name:      extract('Document Name'),\n    source_type:        sourceRaw.split('/')[0].trim(),\n    processed_by:       sourceRaw.split('/')[1]?.trim() || 'LLM',\n    scan_timestamp:     new Date().toISOString(),\n    overall_risk_level: extract('Overall Risk Level'),\n  };\n}\n\n// ─── SECTION 2: PII CATALOG ──────────────────────────────────────────────────\nfunction parsePIICatalog(text) {\n  const section = text.match(/## SECTION 2[\\s\\S]*?(?=## SECTION 3|$)/)?.[0] || '';\n  const rows = section.split('\\n').filter(line =>\n    line.startsWith('|') &&\n    !line.includes('---') &&\n    !line.includes('field_name') &&\n    !line.match(/^\\|\\s*#\\s*\\|/)\n  );\n\n  return rows.map((row, i) => {\n    const cols = row.split('|').map(c => c.trim()).filter(Boolean);\n    if (cols.length < 7) return null;\n    return {\n      id:          i + 1,\n      field_name:  cols[1],\n      value:       cols[2],\n      sensitivity: cols[3],\n      confidence:  parseFloat(cols[4]) || null,\n      location:    cols[5],\n      context:     cols[6],\n    };\n  }).filter(Boolean);\n}\n\n// ─── SECTION 3: RISK SUMMARY ─────────────────────────────────────────────────\nfunction parseRiskSummary(text) {\n  const section = text.match(/## SECTION 3[\\s\\S]*$/)?.[0] || '';\n  const assessmentMatch = section.match(/Overall Risk Assessment:\\s*(.+)/);\n  const complianceMatch = section.match(/Compliance Flags:\\s*(.+)/);\n\n  return {\n    overall_assessment: assessmentMatch ? assessmentMatch[1].trim() : null,\n    // FIX: split by comma only when NOT inside parentheses\n    compliance_flags: complianceMatch\n      ? complianceMatch[1].split(/,(?![^(]*\\))/).map(f => f.trim())\n      : [],\n  };\n}\n\n// ─── ASSEMBLE ────────────────────────────────────────────────────────────────\nconst metadata     = parseMetadata(raw);\nconst pii_catalog  = parsePIICatalog(raw);\nconst risk_summary = parseRiskSummary(raw);\n\n// Recalculate counts from actual catalog\nrisk_summary.high_count   = pii_catalog.filter(p => p.sensitivity === 'HIGH').length;\nrisk_summary.medium_count = pii_catalog.filter(p => p.sensitivity === 'MEDIUM').length;\nrisk_summary.low_count    = pii_catalog.filter(p => p.sensitivity === 'LOW').length;\nmetadata.total_pii_found  = pii_catalog.length;\n\n// ─── OUTPUT: one row per PII item (Excel-friendly) ───────────────────────────\nconst rows = pii_catalog.map(item => ({\n  // Metadata columns repeated per row (for filtering in Excel)\n  workflow_name:      metadata.workflow_name,\n  document_name:      metadata.document_name,\n  source_type:        metadata.source_type,\n  scan_timestamp:     metadata.scan_timestamp,\n  overall_risk_level: metadata.overall_risk_level,\n  total_pii_found:    metadata.total_pii_found,\n  // PII columns\n  id:                 item.id,\n  field_name:         item.field_name,\n  value:              item.value,\n  sensitivity:        item.sensitivity,\n  confidence:         item.confidence,\n  location:           item.location,\n  context:            item.context,\n  // Risk summary columns\n  high_count:         risk_summary.high_count,\n  medium_count:       risk_summary.medium_count,\n  low_count:          risk_summary.low_count,\n  compliance_flags:   risk_summary.compliance_flags.join(' | '),\n  overall_assessment: risk_summary.overall_assessment,\n}));\n\nreturn rows.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        304
      ],
      "id": "ebe6d164-ef96-44d4-9db5-25e02b9a04f0",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "formTitle": "PII Document Extraction",
        "formDescription": "Upload a PDF, DOCX, JSON or CSV to extract all PII instances.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Document",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.docx,.doc,.json,.csv,.txt",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        512,
        -80
      ],
      "id": "84a064bd-50b7-4cd8-a66a-dfd81bba7d21",
      "name": "Form Trigger1",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a PII (Personally Identifiable Information) detection and metadata cataloging specialist \ndesigned to operate inside agentic workflows. Your job is to analyze unstructured LLM-generated \noutputs, extract all PII, classify its sensitivity, and capture full metadata for compliance \nand audit purposes.\n\n---\n\n## TASK\nScan the entire content in Agent_Output. Identify, classify, and catalog every piece of PII \nand its associated metadata. This prompt is designed to be reusable across any agentic pipeline.\n\n---\n\n## OUTPUT FORMAT\n\n### SECTION 1 — DOCUMENT METADATA\n| Field              | Value                          |\n|--------------------|-------------------------------|\n| Workflow Name      | [Name of the workflow]        |\n| Document Name      | [Name or title of the document] |\n| Source Type        | [e.g. LLM output, PDF, form]  |\n| Scan Timestamp     | [ISO 8601 if available]       |\n| Total PII Found    | [count]                       |\n| Overall Risk Level | [HIGH / MEDIUM / LOW]         |\n\n---\n\n### SECTION 2 — PII CATALOG\n\n| # | field_name | value | sensitivity | confidence | location | context |\n|---|------------|-------|-------------|------------|----------|---------|\n| 1 | [snake_case field type] | [exact value] | [HIGH/MEDIUM/LOW] | [0.0-1.0] | [line X, page Y] | [surrounding text, max 20 words] |\n\nIf no PII is found, state: **NO PII DETECTED**\n\nconfidence scoring rules:\n- 1.0 → exact match, no ambiguity (SSN, bank account, email)\n- 0.9 → high confidence, clear context (full name, phone, address)\n- 0.85 → moderate confidence, inferred from context (partial ID, ambiguous field)\n- 0.8 → low confidence, uncertain match (generic number, unclear label)\n\nfield_name must be snake_case, examples:\nfull_name, date_of_birth, ssn, email, phone, physical_address,\nemployee_id, bank_account, routing_number, session_token,\nip_address, device_serial, passport_number, national_id\n\n---\n\n### SECTION 3 — RISK SUMMARY\n- 🔴 HIGH findings: [count]\n- 🟡 MEDIUM findings: [count]\n- 🟢 LOW findings: [count]\n- Overall Risk Assessment: [1-2 sentence summary of the risk exposure in this document]\n- Compliance Flags: [e.g. GDPR, CCPA, HIPAA — list any that may apply based on PII found]\n\n---\n\n## PII CATEGORIES TO DETECT\n\n**Biographical:**\nNames (full, partial, or initials), Date of birth, Age, Gender, Nationality,\nSocial Security Number (SSN), Passport number, National ID (e.g. CURP, NIF),\nHome address, Family member names\n\n**Contact Details:**\nPersonal/work email address, Phone number (mobile or landline), Postal address\n\n**Online Identifiers:**\nIP address, Session token, Username, Password, Device MAC address,\nDevice serial number, Asset tag linked to a person\n\n**Payment & Financial:**\nBank account number, Routing number, Credit card number, Billing address\n\n**Other Sensitive:**\nEmployee ID linked to a person, Medical record references,\nPhotos or physical descriptions of individuals\n\n---\n\n## SENSITIVITY CLASSIFICATION\n\n🔴 **HIGH** — Immediate risk of identity theft, fraud, or serious harm if exposed:\nSSN, passport number, national ID (CURP, NIF), bank account number, routing number,\ncredit card number, session token, password, partially redacted identity numbers\n\n🟡 **MEDIUM** — Sensitive in context, enabling targeted attacks or privacy violations:\nFull name + address combined, personal email, phone number, date of birth,\nIP address linked to a person, MAC address, device serial number, employee ID,\nhome address alone, medical record references\n\n🟢 **LOW** — Identifiable but lower risk in isolation:\nFirst name or last name alone, work email, job title linked to a name,\nasset tag linked to a person, general location (city/state)\n\n---\n\n## RECOMMENDED ACTIONS\n\n- **Mask** → Replace with partial value (e.g. ***-**-8841) — for HIGH findings in active systems\n- **Redact** → Remove entirely from output — for HIGH findings in logs or reports\n- **Flag** → Mark for human review — for MEDIUM findings requiring context judgment\n- **Monitor** → Log occurrence without blocking — for LOW findings\n\n---\n\n## AGENTIC WORKFLOW RULES\n- This prompt is stateless: treat each Agent_Output as an independent document\n- Extract EVERY instance, even if the same person appears multiple times\n- For partially redacted values (e.g. XXX-XX-8841), still classify as HIGH\n- Do NOT skip PII in tables, footnotes, headers, lists, or inline metadata\n- Infrastructure hostnames and pipeline IDs alone are NOT PII\n- IP addresses ARE PII only when linked to a specific individual's activity\n- Session tokens ARE PII when tied to an authenticated user\n- When combining fields raises risk (e.g. name + SSN together), classify as HIGH\n- If the LLM output is ambiguous or truncated, flag the finding and note uncertainty\n\n--- BEGIN DOCUMENT ---\n{{ $('Extract_Test').item.json.text }}\n--- END DOCUMENT ---",
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        832,
        304
      ],
      "id": "f0f0f85a-df40-4e5c-ba97-82f53d60f2f2",
      "name": "AI Agent — PII Extraction test2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Document",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        304
      ],
      "id": "975ea8ae-1dd0-4133-bc62-4ab25337f8ea",
      "name": "Extract_Test"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Document",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        688,
        -80
      ],
      "id": "16820a6f-a033-47cd-bda9-a001d6147e02",
      "name": "Extract File"
    },
    {
      "parameters": {
        "options": {
          "fileName": "pii_results.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1392,
        -80
      ],
      "id": "d7da93bf-067c-4bfb-821e-3a8016f3edae",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {
          "fileName": "pii_results.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        304
      ],
      "id": "cb619c34-4f88-4700-a3b0-b1d55f8405a4",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "modelSource": "inferenceProfile",
        "model": "global.anthropic.claude-sonnet-4-20250514-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        880,
        1008
      ],
      "id": "240ef5d1-c760-4fd1-b84e-a85d84b398ec",
      "name": "AWS Bedrock — SQL3"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\n\n// ─── SECTION 1: DOCUMENT METADATA ───────────────────────────────────────────\nfunction parseMetadata(text) {\n  const extract = (field) => {\n    const regex = new RegExp(`\\\\|\\\\s*${field}\\\\s*\\\\|\\\\s*([^|\\\\n]+?)\\\\s*\\\\|`, 'i');\n    const match = text.match(regex);\n    return match ? match[1].trim() : null;\n  };\n\n  const sourceRaw = extract('Source Type') || '';\n\n  return {\n    workflow_name:      extract('Workflow Name'),\n    document_name:      extract('Document Name'),\n    source_type:        sourceRaw.split('/')[0].trim(),\n    processed_by:       sourceRaw.split('/')[1]?.trim() || 'LLM',\n    scan_timestamp:     new Date().toISOString(),\n    overall_risk_level: extract('Overall Risk Level'),\n  };\n}\n\n// ─── SECTION 2: PII CATALOG ──────────────────────────────────────────────────\nfunction parsePIICatalog(text) {\n  const section = text.match(/## SECTION 2[\\s\\S]*?(?=## SECTION 3|$)/)?.[0] || '';\n  const rows = section.split('\\n').filter(line =>\n    line.startsWith('|') &&\n    !line.includes('---') &&\n    !line.includes('field_name') &&\n    !line.match(/^\\|\\s*#\\s*\\|/)\n  );\n\n  return rows.map((row, i) => {\n    const cols = row.split('|').map(c => c.trim()).filter(Boolean);\n    if (cols.length < 7) return null;\n    return {\n      id:          i + 1,\n      field_name:  cols[1],\n      value:       cols[2],\n      sensitivity: cols[3],\n      confidence:  parseFloat(cols[4]) || null,\n      location:    cols[5],\n      context:     cols[6],\n    };\n  }).filter(Boolean);\n}\n\n// ─── SECTION 3: RISK SUMMARY ─────────────────────────────────────────────────\nfunction parseRiskSummary(text) {\n  const section = text.match(/## SECTION 3[\\s\\S]*$/)?.[0] || '';\n  const assessmentMatch = section.match(/Overall Risk Assessment:\\s*(.+)/);\n  const complianceMatch = section.match(/Compliance Flags:\\s*(.+)/);\n\n  return {\n    overall_assessment: assessmentMatch ? assessmentMatch[1].trim() : null,\n    // FIX: split by comma only when NOT inside parentheses\n    compliance_flags: complianceMatch\n      ? complianceMatch[1].split(/,(?![^(]*\\))/).map(f => f.trim())\n      : [],\n  };\n}\n\n// ─── ASSEMBLE ────────────────────────────────────────────────────────────────\nconst metadata     = parseMetadata(raw);\nconst pii_catalog  = parsePIICatalog(raw);\nconst risk_summary = parseRiskSummary(raw);\n\n// Recalculate counts from actual catalog\nrisk_summary.high_count   = pii_catalog.filter(p => p.sensitivity === 'HIGH').length;\nrisk_summary.medium_count = pii_catalog.filter(p => p.sensitivity === 'MEDIUM').length;\nrisk_summary.low_count    = pii_catalog.filter(p => p.sensitivity === 'LOW').length;\nmetadata.total_pii_found  = pii_catalog.length;\n\n// ─── OUTPUT: one row per PII item (Excel-friendly) ───────────────────────────\nconst rows = pii_catalog.map(item => ({\n  // Metadata columns repeated per row (for filtering in Excel)\n  workflow_name:      metadata.workflow_name,\n  document_name:      metadata.document_name,\n  source_type:        metadata.source_type,\n  scan_timestamp:     metadata.scan_timestamp,\n  overall_risk_level: metadata.overall_risk_level,\n  total_pii_found:    metadata.total_pii_found,\n  // PII columns\n  id:                 item.id,\n  field_name:         item.field_name,\n  value:              item.value,\n  sensitivity:        item.sensitivity,\n  confidence:         item.confidence,\n  location:           item.location,\n  context:            item.context,\n  // Risk summary columns\n  high_count:         risk_summary.high_count,\n  medium_count:       risk_summary.medium_count,\n  low_count:          risk_summary.low_count,\n  compliance_flags:   risk_summary.compliance_flags.join(' | '),\n  overall_assessment: risk_summary.overall_assessment,\n}));\n\nreturn rows.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        832
      ],
      "id": "64a8a696-3481-438a-b118-6279dc873bf8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a PII (Personally Identifiable Information) detection and metadata cataloging specialist \ndesigned to operate inside agentic workflows. Your job is to analyze unstructured LLM-generated \noutputs, extract all PII, classify its sensitivity, and capture full metadata for compliance \nand audit purposes.\n\n---\n\n## TASK\nScan the entire content in Agent_Output. Identify, classify, and catalog every piece of PII \nand its associated metadata. This prompt is designed to be reusable across any agentic pipeline.\n\n---\n\n## OUTPUT FORMAT\n\n### SECTION 1 — DOCUMENT METADATA\n| Field              | Value                          |\n|--------------------|-------------------------------|\n| Workflow Name      | [Name of the workflow]        |\n| Document Name      | [Name or title of the document] |\n| Source Type        | [e.g. LLM output, PDF, form]  |\n| Scan Timestamp     | [ISO 8601 if available]       |\n| Total PII Found    | [count]                       |\n| Overall Risk Level | [HIGH / MEDIUM / LOW]         |\n\n---\n\n### SECTION 2 — PII CATALOG\n\n| # | field_name | value | sensitivity | confidence | location | context |\n|---|------------|-------|-------------|------------|----------|---------|\n| 1 | [snake_case field type] | [exact value] | [HIGH/MEDIUM/LOW] | [0.0-1.0] | [line X, page Y] | [surrounding text, max 20 words] |\n\nIf no PII is found, state: **NO PII DETECTED**\n\nconfidence scoring rules:\n- 1.0 → exact match, no ambiguity (SSN, bank account, email)\n- 0.9 → high confidence, clear context (full name, phone, address)\n- 0.85 → moderate confidence, inferred from context (partial ID, ambiguous field)\n- 0.8 → low confidence, uncertain match (generic number, unclear label)\n\nfield_name must be snake_case, examples:\nfull_name, date_of_birth, ssn, email, phone, physical_address,\nemployee_id, bank_account, routing_number, session_token,\nip_address, device_serial, passport_number, national_id\n\n---\n\n### SECTION 3 — RISK SUMMARY\n- 🔴 HIGH findings: [count]\n- 🟡 MEDIUM findings: [count]\n- 🟢 LOW findings: [count]\n- Overall Risk Assessment: [1-2 sentence summary of the risk exposure in this document]\n- Compliance Flags: [e.g. GDPR, CCPA, HIPAA — list any that may apply based on PII found]\n\n---\n\n## PII CATEGORIES TO DETECT\n\n**Biographical:**\nNames (full, partial, or initials), Date of birth, Age, Gender, Nationality,\nSocial Security Number (SSN), Passport number, National ID (e.g. CURP, NIF),\nHome address, Family member names\n\n**Contact Details:**\nPersonal/work email address, Phone number (mobile or landline), Postal address\n\n**Online Identifiers:**\nIP address, Session token, Username, Password, Device MAC address,\nDevice serial number, Asset tag linked to a person\n\n**Payment & Financial:**\nBank account number, Routing number, Credit card number, Billing address\n\n**Other Sensitive:**\nEmployee ID linked to a person, Medical record references,\nPhotos or physical descriptions of individuals\n\n---\n\n## SENSITIVITY CLASSIFICATION\n\n🔴 **HIGH** — Immediate risk of identity theft, fraud, or serious harm if exposed:\nSSN, passport number, national ID (CURP, NIF), bank account number, routing number,\ncredit card number, session token, password, partially redacted identity numbers\n\n🟡 **MEDIUM** — Sensitive in context, enabling targeted attacks or privacy violations:\nFull name + address combined, personal email, phone number, date of birth,\nIP address linked to a person, MAC address, device serial number, employee ID,\nhome address alone, medical record references\n\n🟢 **LOW** — Identifiable but lower risk in isolation:\nFirst name or last name alone, work email, job title linked to a name,\nasset tag linked to a person, general location (city/state)\n\n---\n\n## RECOMMENDED ACTIONS\n\n- **Mask** → Replace with partial value (e.g. ***-**-8841) — for HIGH findings in active systems\n- **Redact** → Remove entirely from output — for HIGH findings in logs or reports\n- **Flag** → Mark for human review — for MEDIUM findings requiring context judgment\n- **Monitor** → Log occurrence without blocking — for LOW findings\n\n---\n\n## AGENTIC WORKFLOW RULES\n- This prompt is stateless: treat each Agent_Output as an independent document\n- Extract EVERY instance, even if the same person appears multiple times\n- For partially redacted values (e.g. XXX-XX-8841), still classify as HIGH\n- Do NOT skip PII in tables, footnotes, headers, lists, or inline metadata\n- Infrastructure hostnames and pipeline IDs alone are NOT PII\n- IP addresses ARE PII only when linked to a specific individual's activity\n- Session tokens ARE PII when tied to an authenticated user\n- When combining fields raises risk (e.g. name + SSN together), classify as HIGH\n- If the LLM output is ambiguous or truncated, flag the finding and note uncertainty\n\n--- BEGIN DOCUMENT ---\n{{ $json.output }}\n--- END DOCUMENT ---",
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        880,
        832
      ],
      "id": "04315847-1a33-486e-87b4-be7eb63489f2",
      "name": "AI Agent — PII Extraction test3"
    },
    {
      "parameters": {
        "options": {
          "fileName": "pii_results.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1376,
        832
      ],
      "id": "5168fbc2-0366-4739-a460-71f8d85e0baf",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "modelSource": "inferenceProfile",
        "model": "global.anthropic.claude-sonnet-4-20250514-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        560,
        992
      ],
      "id": "c2e61cfc-825c-4521-9c16-a02f29945104",
      "name": "AWS Bedrock — SQL4"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a synthetic data generator for software testing purposes. \nGenerate a realistic but entirely fictional unstructured text document \nthat naturally contains the following types of PII data:\n\n- Full names (first and last)\n- Email addresses\n- Phone numbers (Mexican format preferred, e.g. +52 833 XXX XXXX)\n- Home addresses (Mexican cities and states)\n- CURP and RFC identifiers\n- Credit card numbers (fake but plausible, with expiration date and CVV)\n\nThe document should read like a real-world artifact — for example, \na customer support ticket, an onboarding form summary, an internal \nmemo, or a chat transcript. Do NOT use bullet points or structured \nfields. Embed all PII naturally within flowing prose or conversation.\n\nGenerate data for {{$json.num_records}} different individuals. \nEach person's information should appear in a separate paragraph or \nnarrative block, clearly separated by a blank line.\n\nImportant: All data is completely fictional and intended only for \npipeline testing. Do not use real people's information.",
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        832
      ],
      "id": "f54b01c5-8505-4356-a152-ec826802efa3",
      "name": "AI Agent — PII Extraction test1"
    }
  ],
  "pinData": {},
  "connections": {
    "AWS Bedrock — SQL": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — PII Extraction test2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Extract_Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock — SQL1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — PII Extraction1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — PII Extraction1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger1": {
      "main": [
        [
          {
            "node": "Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — PII Extraction test2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_Test": {
      "main": [
        [
          {
            "node": "AI Agent — PII Extraction test2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File": {
      "main": [
        [
          {
            "node": "AI Agent — PII Extraction1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock — SQL3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — PII Extraction test3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — PII Extraction test3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock — SQL4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — PII Extraction test1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — PII Extraction test1": {
      "main": [
        [
          {
            "node": "AI Agent — PII Extraction test3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}